@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; 
}

.title {
    font-family: 'Montserrat', sans-serif !important;
}


.showcase::after {
  content: '';
  height: 90vh;
  width: 100%;
  background-image: url(img/dogbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}

.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.showcase:hover .contentshow {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.contentshow {
  position: absolute;
  z-index: 1;
  top: 1%;
  left: 50%;
  margin-top: 60px;
  margin-left: -145px;
  width: 300px;
  height: 150px;
  text-align: center;
  transition: all 1000ms;
}


.contentshow .textshow {
  font-family: 'Montserrat', sans-serif;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
}

.subtitle {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold;
}

.text {
  color: #252525;
  text-align: justify;
}

.coreytec {
  background-color: #F3F3F3;
  background-size: cover;
  margin: 0;
}

.infobutton {
  border-radius: 35px;
}

.contact-box {
  padding: 3%;
  margin: auto;
  width: 50%;
}

.input-field{
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #F3F3F3;
  border-radius: 14px;
}

.msgarea {
  height: 150px;
}

.center {
  text-align: center;
}

.buttonsend {
  background-color: #1741BB;
  color: #fff;
  font-weight: bold;
  margin: 3%;
}  

.mainproduct {
  padding: 10%;
  margin: 10%;
}

/*--------------------- PRODUCT PAGE --------------------*/

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
  display: flex;
}

.productcontainer {
  background-color: #FFFFFF;
}

.left-column {
  width: 65%;
  position: relative;
  margin-bottom: 0;
}


 
.right-column {
  width: 35%;
  margin-top: 60px;
}

.left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
 
.left-column img.active {
  opacity: 1;
}

.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

.product-color {
  margin-bottom: 30px;
}
 
.color-choose div {
  display: inline-block;
}
 
.color-choose input {
  display: none;
}
 
.color-choose input + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}
 

.cable-choose {
  margin-bottom: 20px;
}
 
.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}
 
.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}
 
.cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
 
.cable-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.cable-config a:before {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }
 
  .left-column,
  .right-column {
    width: 100%;
  }
 
  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}
 
@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}

.textdark {
  color: #000;
  text-align: justify;
  margin: 5%;
  margin-top: 0;
}

.imagemargin {
  padding-bottom: -50%;
}

.titlespecial {
  padding-top: 5%;
}

@media (max-width: 535px) {
  .titlespecial {
    text-align: center;
  }
}
